.logo {
  float: left;
  padding-left: 30px;
}
.navbar {
  padding: 10px;
}
#navbar {
  padding-top: 10px;
}
.homeLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.3em;
  padding-right: 40px;
  padding-left: 170px;
}
.orderLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.3em;
  padding-right: 40px;
}
.leaderboardsLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.3em;
  padding-right: 40px;
}
.marketplaceLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.3em;
  padding-right: 40px;
}
.faqsLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.3em;
}
.loginLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.5em;
  padding-right: 40px;
  float: right;
}
#loginLink {
  font-size: 0.7em;
  font-family: Inter;
  padding: 8px;
  background-color: #f1ba19;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
}
@media only screen and (max-width: 600px) {
  .logo {
    float: left;
    padding-left: 5px;
    width: 30%;
  }
  #navbar {
    transform: translate(0em, -1em);
  }
  .navbar {
    padding: 0px;
  }
  .homeLink {
    font-size: 0.7em;
    padding-right: 20px;
    padding-left: 180px;
  }
  .orderLink {
    font-size: 0.7em;
    padding-right: 20px;
  }
  .leaderboardsLink {
    font-size: 0.7em;
    padding-right: 20px;
  }
  .marketplaceLink {
    font-size: 0.7em;
    padding-right: 20px;
  }
  .faqsLink {
    font-size: 0.7em;
  }
  .loginLink {
    font-size: 0.7em;
    padding-right: 20px;
  }
  #loginLink {
    font-size: 0.9em;
    padding-right: 15px;
    padding-left: 15px;
  }
}
