.faqspage {
  text-align: center;
}
.frequently {
  /* position: absolute;
  width: 40%;
  height: 60px;
  left: 50%;
  right: 50%;
  top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  box-align: center;
  text-align: center;
  align-items: center;
  letter-spacing: -0.025em;
  font-feature-settings: "liga" off;
  color: #0f71ba; */
  position: absolute;
  width: 100%;
  top: 120px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #1566e9;
}

.faqspage {
  margin: auto;
  margin-top: 15%;
}
.feelFree {
  position: absolute;
  width: 100%;
  top: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #374151;
}

#frequently {
  display: none;
}
@media all and (max-width: 750px) {
  .frequently {
    display: none;
  }
  #frequently {
    display: flex;
    color: #0f71ba;
    text-align: center;
    align-items: center;
    transform: translate(45%, -0.3em);
  }
  .feelFree {
    position: fixed;
    display: flex;
    top: 5% !important;
    left: 5%;
  }
}
