.faqspage {
  text-align: center;
}
.frequently {
  position: absolute;
  width: 100%;
  top: 120px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #1566e9;
}

.faqspage {
  margin: auto;
  margin-top: 18%;
}
.feelFree {
  position: absolute;
  width: 100%;
  top: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #374151;
}

#frequently {
  display: none;
}
@media all and (max-width: 750px) {
  .frequently {
    display: none;
  }

  #frequently {
    position: relative;
    display: flex;
    color: #0f71ba;
    text-align: center;
    align-items: center;
    transform: translate(45%, -1.5em);
  }
  .faqspage {
    margin: auto;
    margin-top: 15%;
  }
  .feelFree {
    top: 18% !important;
    position: relative;
  }
}
