.login {
  box-sizing: border-box;
  width: 112px;
  height: 38px;
  background: #f1ba19;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-left: 50%;
}
.homeLink {
  text-decoration: none;
  font-family: "Inter";
  color: black;
  font-size: 1.1em;
}
.orderLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.1em;
}
.leaderboardsLink {
  text-decoration: none;
  font-family: Inter;
  color: black;
  font-size: 1.1em;
}
.marketplaceLink {
  text-decoration: none;
  font-family: "Inter";
  color: black;
  font-size: 1.1em;
}
.faqsLink {
  text-decoration: none;
  font-family: "Inter";
  color: black;
  font-size: 1.1em;
}

.Link {
  height: 17px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}

nav {
  background-color: var(--dark);
  color: var(--light);
  border-bottom: 3px solid var(--primary);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}
.nav-brand {
  font-size: 28px;
  font-weight: 300;
}

.menu {
  display: none;
  justify-content: flex-end;
  left: 0px;
}
.menu a {
  padding: 8px 30px;
  text-decoration: none;
  color: black;
  border-radius: 90px;
}
.menu a:hover {
  color: var(--dark);
  background-color: var(--primary);
}
.hamburger {
  display: block;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: black;
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
}
nav {
  padding-top: 2% !important;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 3;
  background-color: #ffffff;
  transition: 0.3s;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  padding: 11px 0 51px 15px;
}

#div {
  position: fixed;
  padding-left: 170px;
  padding-top: 20px;
  z-index: 4;
  visibility: inherit;
  float: right;
  right: 30%;
}
.nav-dropdown a {
  float: left;
  padding: 8px 16px;
  margin: 0 16px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  border-radius: 90px;
}
.nav-dropdown a:hover {
  color: var(--primary);
  background-color: var(--dark);
}

@media (min-width: 1050px) {
  .hamburger {
    display: none;
  }
  #div {
    position: fixed;
    padding-left: 170px;
    padding-top: 20px;
    z-index: 4;
    visibility: inherit;
    float: right;
    right: 10% !important;
  }
  .menu {
    display: block;
  }
  .nav-dropdown {
    display: none;
  }
  .login {
    box-sizing: border-box;
    width: 112px;
    height: 38px;
    background: #f1ba19;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    float: right;
    position: relative;
  }

  .Link {
    height: 17px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
  }

  nav {
    background-color: var(--dark);
    color: var(--light);
    border-bottom: 3px solid white;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .nav-brand {
    font-size: 28px;
    font-weight: 300;
  }
  .menu {
    display: none;
    justify-content: flex-end;
    padding-left: 100px;
  }
  .menu a {
    padding: 8px 30px;
    text-decoration: none;
    color: black;
    border-radius: 90px;
  }
  .hamburger {
    display: block;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
  }
  nav {
    padding-top: 2% !important;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    z-index: 3;
    background-color: #ffffff;
    transition: 0.3s;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    padding: 11px 0 51px 15px;
  }
  #div {
    position: fixed;
    padding-left: 170px;
    padding-top: 20px;
    z-index: 4;
  }
  .nav-dropdown a {
    float: left;
    padding: 8px 16px;
    margin: 0 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 90px;
  }
  .nav-dropdown a:hover {
    color: var(--primary);
    background-color: var(--dark);
  }

  @media (min-width: 1050px) {
    .hamburger {
      display: none;
    }
    .menu {
      display: block;
    }

    .nav-dropdown {
      display: none;
    }

    .homeLink {
      text-decoration: none;
      font-family: "Inter";
      color: black;
      font-size: 1.1em;
      position: absolute;
      left: 560px;
      top: 30px;
    }
    .orderLink {
      text-decoration: none;
      font-family: Inter;
      color: black;
      font-size: 1.1em;
      position: absolute;
      left: 650px;
      top: 30px;
    }
    .leaderboardsLink {
      position: absolute;
      left: 750px;
      top: 30px;

      text-decoration: none;
      font-family: Inter;
      color: black;
      font-size: 1.1em;
    }
    .marketplaceLink {
      text-decoration: none;
      font-family: "Inter";
      color: black;
      font-size: 1.1em;
      position: absolute;
      left: 900px;
      top: 30px;
    }
    .faqsLink {
      top: 30px;
      text-decoration: none;
      font-family: "Inter";
      color: black;
      font-size: 1.1em;
      position: absolute;
      left: 1050px;
    }
  }
}
@media (max-width: 750px) {
  #img {
    width: 160px;
    height: 40px;
  }
  .login {
    width: 4em;
    margin-left: 40px;
  }
}
